<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kimmich.peten.mapper.CommentMapper">

    <select id="getCommentsByTopicID" resultType="com.kimmich.peten.model.bo.comment.CommentBO">
        SELECT *
        FROM tbl_comment
        WHERE articleId = #{articleId}
        order by createTime asc
    </select>
</mapper>
