<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kimmich.peten.mapper.ProductMapper">

    <select id="getStockForUpdate" resultType="java.lang.Integer">
        SELECT stock
        FROM tbl_product
        WHERE id = #{productId}
        FOR UPDATE
    </select>

    <select id="getProductById" resultType="com.kimmich.peten.model.bo.shop.ProductBO">
        SELECT
            id,
            categoryId,
            name,
            title,
            introduction,
            cover,
            price,
            specialPrice,
            stock,
            sales,
            images,
            status
        FROM tbl_product
        WHERE id = #{id}
    </select>

    <select id="getProductByCategoryId" resultType="com.kimmich.peten.model.vo.product.ProductVO">
        SELECT
            id,
            categoryId,
            name,
            title,
            introduction,
            cover,
            price,
            specialPrice,
            stock,
            sales
        FROM tbl_product
        WHERE status = ${@com.kimmich.peten.constant.CommonConst@STATUS_ON}
            <if test="categoryId != null and categoryId != ''">
                AND categoryId = #{categoryId}
            </if>
    </select>
</mapper>
